body {

    width: 960px;
    height: 960px;
    margin: 0px;
}

header {
    width: 960%;
    padding: 5px;
    margin: 0px;
    background: #ccf2ff;
}

h1 {

    font-family: sans-serif;
    color: slategrey;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0px 10px;
}

h2 {
    font-family: sans-serif;
    color: dimgray;
    font-size: 16px;
    margin-bottom: 15px;
}

main {
    width: auto;
    height: auto;
    padding: 15px;
    margin-left: 60px;

}

img {
    position: absolute;
    margin-left: 5px;
    margin-top: 0px;
    border-radius: 2px;
    border: 1px solid slategrey;
    width: 25px;
    height: 25px;
}


input {
    font-family: sans-serif;
    border-radius: 2px;
    border: 1px solid slategrey;
    font-size: 18px;
    color: darkgrey;
    width: 400px;
    padding: 2px;
}

table {
    font-family: sans-serif;
    color: darkgrey;
    margin-top: 20px;
}

table tr td {
    padding: 0px;

}

.middle {
    color: blue;
    font-weight: bold;
    padding: 10px;
}

.middle a {
    text-decoration: none;

}

nav {
    font-family: sans-serif;
    padding: 0px;
    margin-top: -50px;
    margin-right: 20px;
    float: right;
    position: relative;
}

ul li {
    display: inline;
}

nav a {
    color: purple;
    text-decoration: none;

}
