body {
    background-image: url(outerspace_landscape.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 1024px;
}

main {
    padding-top: 90px;
    min-width: 1000px;
}

.icon {}

#iconcat {
    border-radius: 50%;
    /*border radius 50%*/
    height: 50px;
    width: 45px;
    /*no width*/
    /*vertical-align: middle*/
    margin-top: 4px;
    margin-left: 60px;
    /*bottom*/
    border: solid 1px;
    position: fixed;
}

nav {
    background-color: darkgrey;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
}

nav ul {
    display: inline-block;
    margin-left: 100px;

}

nav li {
    display: inline-block;

}

/*space in between slash | */

nav li::after {
    content: "|";
}


/* navigation section
style before solution
text-align: right;
font-family: sans-serif;
font-size: 12px;
float: left;
padding-left: 150px;
padding-right: 60px;
margin-top: 20px;
position: fixed;*/

nav a:hover {
    color: aliceblue;
    text-decoration: none;
}

nav a:link {
    color: blueviolet;
    text-decoration: none;
}

.box {
    border: 10px green;
    border-style: dashed;
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 300px;
    position: relative;
}

.cat {
    position: absolute;
    margin-left: -110px;
    margin-bottom: 100px;
    margin-top: -100px;
}

.dog {
    position: absolute;
    left: 500px;
    top: 180px;

}
